---
 layout: archive
---

 {{ content }}

 <html>
 <head>
 <meta name="google-site-verification" content="aAp-Ld0edambtgXw0_fF0tHhvll7gRpY4EOCXBkU7fM">
 <meta name="keywords" content="Hongjin Su, Hongjin Su, hongjinsu">
 <style>
 p.xsmall {
     line-height: 1.55;
     font-size: 9.5pt;
     margin-left: 40px;
 }

 p.small {
     line-height: 1.55;
     font-size: 11pt;
     margin-left: 40px;
 }

 ul.small {
     line-height: 1.55;
     font-size: 11pt;
 }

 p.small2 {
     line-height: 2.00;
     font-size: 11.5pt;
     margin-left: 40px;
 }

 p.medium {
     line-height: 1.55;
     font-size: 12.5pt;
     margin-left: 40px;
 }

 p.big {
     line-height: 1.55;
 }

 p.noindent {
     line-height: 1.55;
     font-size: 12pt;
 }


 </style>
 </head>
 <body>



 <p class="noindent">

   Hi! I am a third-year PhD student in the Natural Language Processing group at the University of Hong Kong (<a href="https://hkunlp.github.io/" style="color: #57068C; text-decoration: none">HKUNLP</a>). I am fortunate to be advised by Dr. <a href="https://taoyds.github.io/" style="color: #57068C; text-decoration: none">Tao Yu (core)</a>, Dr. <a href="https://ikekonglp.github.io/" style="color: #57068C; text-decoration: none">Lingpeng Kong</a> and Prof. <a href="https://scholar.google.com.hk/citations?user=TwSParMAAAAJ&hl=en" style="color: #57068C; text-decoration: none">Ben Kao</a>.
   My primary interests are Data Science and Natural Language Processing. Previously, I graduated from the Chinese University of Hong Kong, Computer Science, in 2022.

 <p>


 <h3 style="font-weight: 500">Publications</h3>
 <hr>

 <p class="small">
    <span style="font-weight:800"> <a href="https://arxiv.org/abs/2411.07763"
            style="font-size: 12pt; color: #285095; text-decoration: none"> Spider 2.0: Evaluating Language Models on Real-World Enterprise Text-to-SQL Workflows </a> <br> </span>
    <span style="line-height:170%"> Fangyu Lei, Jixuan Chen, Yuxiao Ye, Ruisheng Cao, Dongchan Shin, <b>Hongjin Su</b>, Zhaoqing Suo, Hongcheng Gao, Wenjing Hu, Pengcheng Yin, Victor Zhong, Caiming Xiong, Ruoxi Sun, Qian Liu, Sida Wang, Tao Yu
 </span>
    <br>
    <span style="line-height:170%"> <i>ICLR 2025</i> <font color="red"> <i> (Oral, top 2%) </i> </font> </span>
    <br>
    [<a href="https://arxiv.org/abs/2411.07763" style="color: #285095; text-decoration: none">paper</a>]
    [<a href="https://github.com/xlang-ai/Spider2" style="color: #285095; text-decoration: none">code</a>]
    [<a href="https://github.com/xlang-ai/Spider2/blob/main/spider2/README.md" style="color: #285095; text-decoration: none">data</a>]
    [<a href="https://spider2-sql.github.io/" style="color: #285095; text-decoration: none">website</a>]

 <p class="small">
    <span style="font-weight:800"> <a href="https://arxiv.org/abs/2407.12883"
            style="font-size: 12pt; color: #285095; text-decoration: none"> BRIGHT: A Realistic and Challenging Benchmark for Reasoning-Intensive Retrieval </a> <br> </span>
    <span style="line-height:170%"> <b>Hongjin Su*</b>, Howard Yen*, Mengzhou Xia*, Weijia Shi, Niklas Muennighoff, Han-yu Wang, Haisu Liu, Quan Shi, Zachary S. Siegel, Michael Tang, Ruoxi Sun, Jinsung Yoon, Sercan O. Arik, Danqi Chen, Tao Yu
 </span>
    <br>
    <span style="line-height:170%"> <i>ICLR 2025</i> <font color="red"> <i> (Spotlight, top 5%) </i> </font> </span>
    <br>
    [<a href="https://arxiv.org/abs/2407.12883" style="color: #285095; text-decoration: none">paper</a>]
    [<a href="https://github.com/xlang-ai/BRIGHT" style="color: #285095; text-decoration: none">code</a>]
    [<a href="https://huggingface.co/datasets/xlangai/BRIGHT" style="color: #285095; text-decoration: none">data</a>]
    [<a href="https://brightbenchmark.github.io/" style="color: #285095; text-decoration: none">website</a>]
  
 <p class="small">
    <span style="font-weight:800"> <a href="https://arxiv.org/abs/2501.10893"
            style="font-size: 12pt; color: #285095; text-decoration: none"> Learn-by-interact: A Data-Centric Framework for Self-Adaptive Agents in Realistic Environments </a> <br> </span>
    <span style="line-height:170%"> <b>Hongjin Su</b>, Ruoxi Sun, Jinsung Yoon, Pengcheng Yin, Tao Yu, Sercan Ö. Arık
 </span>
    <br>
    <span style="line-height:170%"> <i>ICLR 2025</i> </span>
    <br>
    [<a href="https://arxiv.org/abs/2501.10893" style="color: #285095; text-decoration: none">paper</a>]

 <p class="small">
    <span style="font-weight:800"> <a href="https://arxiv.org/abs/2402.09906"
            style="font-size: 12pt; color: #285095; text-decoration: none"> Generative Representational Instruction Tuning </a> <br> </span>
    <span style="line-height:170%"> Niklas Muennighoff, <b>Hongjin Su</b>, Liang Wang, Nan Yang, Furu Wei, Tao Yu, Amanpreet Singh, Douwe Kiela </span>
    <br>
    <span style="line-height:170%"> <i>ICLR 2025</i> </span>
    <br>
    [<a href="https://arxiv.org/abs/2402.09906" style="color: #285095; text-decoration: none">paper</a>]
    [<a href="https://github.com/ContextualAI/gritlm" style="color: #285095; text-decoration: none">code</a>]
    [<a href="https://huggingface.co/GritLM" style="color: #285095; text-decoration: none">models</a>]
    [<a href="https://contextual.ai/training-with-grit/" style="color: #285095; text-decoration: none">blog</a>]
 
<p class="small">
    <span style="font-weight:800"> <a href="https://arxiv.org/abs/2402.12317"
            style="font-size: 12pt; color: #285095; text-decoration: none"> EVOR: Evolving Retrieval for Code Generation </a> <br> </span>
    <span style="line-height:170%"> <b>Hongjin Su</b>, Shuyang Jiang, Yuhang Lai, Haoyuan Wu, Boao Shi, Che Liu, Qian Liu, Tao Yu </span>
    <br>
    <span style="line-height:170%"> <i>EMNLP 2024</i> </span>
    <br>
    [<a href="https://arxiv.org/abs/2402.12317" style="color: #285095; text-decoration: none">paper</a>]
    [<a href="https://github.com/xlang-ai/arks" style="color: #285095; text-decoration: none">code</a>]
    [<a href="https://huggingface.co/datasets/xlangai/arks_data" style="color: #285095; text-decoration: none">data</a>]
    [<a href="https://arks-codegen.github.io/" style="color: #285095; text-decoration: none">website</a>]
  
 <p class="small">
    <span style="font-weight:800"> <a href="https://arxiv.org/abs/2310.06830"
            style="font-size: 12pt; color: #285095; text-decoration: none"> Lemur: Harmonizing Natural Language and Code for Language Agents </a> <br> </span>
    <span style="line-height:170%"> Yiheng Xu*, <b>Hongjin Su*</b>, Chen Xing*, Boyu Mi, Qian Liu, Weijia Shi, Binyuan Hui, Fan Zhou, Yitao Liu, Tianbao Xie, Zhoujun Cheng, Siheng Zhao, Lingpeng Kong, Bailin Wang, Caiming Xiong, Tao Yu </span>
    <br>
    <span style="line-height:170%"> <i>ICLR 2024 Spotlight (Top 5%)</i> <i> (Spotlight, top 5%) </i> </span>
    <br>
    [<a href="https://arxiv.org/abs/2310.06830" style="color: #285095; text-decoration: none">paper</a>]
    [<a href="https://github.com/OpenLemur/Lemur" style="color: #285095; text-decoration: none">code</a>]
    [<a href="https://huggingface.co/OpenLemur" style="color: #285095; text-decoration: none">model</a>]
    [<a href="https://www.xlang.ai/blog/openlemur" style="color: #285095; text-decoration: none">blog</a>]

 <p class="small">
    <span style="font-weight:800"> <a href="https://arxiv.org/abs/2310.10634"
            style="font-size: 12pt; color: #285095; text-decoration: none"> OpenAgents: An Open Platform for Language Agents in the Wild </a> <br> </span>
    <span style="line-height:170%"> Tianbao Xie*, Fan Zhou*, Zhoujun Cheng*, Peng Shi*, Luoxuan Weng*, Yitao Liu*, Toh Jing Hua, Junning Zhao, Qian Liu, Che Liu, Leo Z. Liu, Yiheng Xu, <b>Hongjin Su</b>, Dongchan Shin, Caiming Xiong, Tao Yu </span>
    <br>
    <span style="line-height:170%"> <i>COLM 2024</i> <font color="red"> <i> (~4k GitHub stars) </i> </font> </span>
    <br>
    [<a href="https://arxiv.org/abs/2310.10634" style="color: #285095; text-decoration: none">paper</a>]
    [<a href="https://github.com/xlang-ai/OpenAgents" style="color: #285095; text-decoration: none">code</a>]
    [<a href="https://www.xlang.ai/blog/xlang-intro" style="color: #285095; text-decoration: none">blog</a>]
  
<p class="small">
    <span style="font-weight:800"> <a href="https://arxiv.org/abs/2212.09741"
            style="font-size: 12pt; color: #285095; text-decoration: none"> One Embedder, Any Task: Instruction-Finetuned Text Embeddings </a> <br> </span>
    <span style="line-height:170%"> <b>Hongjin Su*</b>, Weijia Shi*, Jungo Kasai, Yizhong Wang, Yushi Hu, Mari Ostendorf, Wen-tau Yih, Noah A. Smith, Luke Zettlemoyer, Tao Yu</span>
    <br>
    <span style="line-height:170%"> <i>ACL 2023</i> <font color="red"> <i> (~6M downloads on HuggingFace, ~2k GitHub stars) </i> </font> </span>
    <br>
    [<a href="https://arxiv.org/abs/2212.09741" style="color: #285095; text-decoration: none">paper</a>]
    [<a href="https://huggingface.co/hkunlp/instructor-large" style="color: #285095; text-decoration: none">model</a>]
    [<a href="https://instructor-embedding.github.io/" style="color: #285095; text-decoration: none">website</a>]
    [<a href="https://github.com/xlang-ai/instructor-embedding" style="color: #285095; text-decoration: none">code (used by over 3.8k repos)</a>]
    <a href="https://github.com/xlang-ai/instructor-embedding" target="_blank" rel="noopener noreferrer">
        <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/xlang-ai/instructor-embedding?style=social&amp;logo=github&amp;logoColor=b509ac"></a>
      <a href="https://pypi.org/project/InstructorEmbedding" target="_blank" rel="noopener noreferrer">
        <img alt="PyPI Downloads" src="https://static.pepy.tech/badge/InstructorEmbedding"></a>
 
<p class="small">
    <span style="font-weight:800"> <a href="https://arxiv.org/abs/2209.01975"
            style="font-size: 12pt; color: #285095; text-decoration: none"> Selective Annotation Makes Language Models Better Few-Shot Learners </a> <br> </span>
    <span style="line-height:170%"> <b>Hongjin Su</b>, Jungo Kasai, Chen Henry Wu, Weijia Shi, Tianlu Wang, Jiayi Xin, Rui Zhang, Mari Ostendorf, Luke Zettlemoyer, Noah A. Smith, Tao Yu</span>
    <br>
    <span style="line-height:170%"> <i>ICLR 2023</i> </span>
    <br>
    [<a href="https://arxiv.org/abs/2209.01975" style="color: #285095; text-decoration: none">paper</a>]
    [<a href="https://github.com/HKUNLP/icl-selective-annotation" style="color: #285095; text-decoration: none">code</a>]

<p class="small">
    <span style="font-weight:800"> <a href="https://aclanthology.org/2021.acl-long.259/"
            style="font-size: 12pt; color: #285095; text-decoration: none"> Taming Pre-trained Language Models with N-gram Representations for Low-Resource Domain Adaptation </a> <br> </span>
    <span style="line-height:170%"> Shizhe Diao, Ruijia Xu, <b>Hongjin Su</b>, Yilei Jiang, Yan Song, Tong Zhang</span>
    <br>
    <span style="line-height:170%"> <i>ACL 2021</i> </span>
    <br>
    [<a href="https://aclanthology.org/2021.acl-long.259/" style="color: #285095; text-decoration: none">paper</a>]
    [<a href="https://github.com/shizhediao/T-DNA" style="color: #285095; text-decoration: none">code</a>]



 <!-- <h3 style="font-weight: 500">Presentations</h3>
 <hr>


 <ul class="small">

<li> Presentation on <i> Multilingual Jointly Trained Acoustic and Word Embeddings in EMNLP 2020 SIGTYP workshop (virtual) [<a href="https://slideslive.com/38939801/multilingual-jointly-trained-acoustic-and-written-word-embeddings" style="color: #285095; text-decoration: none">video</a>] </li>

 <li> Presentation on <i> Multilingual Jointly Trained Acoustic and Word Embeddings in INTERSPEECH 2020 (virtual) [<a href="http://www.interspeech2020.org/index.php?m=content&c=index&a=show&catid=273&id=528" style="color: #285095; text-decoration: none">video</a>]</li>

 </ul> -->


 <!-- <h3 style="font-weight: 500">Teaching</h3>
 <hr>

 <ul class="small">

 <li>Autumn 2018, Winter 2019. <i>Course Assistant</i>, MATH 20000: Mathematical Methods for Physical Science I<br></li>
 <li>Autumn 2019, Winter 2020. <i>Course Assistant</i>, MATH 20100: Mathematical Methods for Physical Science II<br></li>
 <li>Spring 2019. <i>Course Assistant</i>, MATH 20250: Abstract Linear Algebra<br></li>

 </ul> -->












 <!--
 <h3 style="font-weight: 500">Relevant Coursework</h3>
 <hr>

 <p class="xsmall">
 <span style="line-height:300%"> <u> At the University of Chicago (2015-2019) </u> </span>
 <br>
 CMSC 27230 - Honors Theory of Algorithms<br>
 CMSC 25025 / STAT 37601 - Machine Learning and Large-Scale Data Analysis (grad level, Lafferty)<br>
 CMSC 35400 / STAT 37710 - Machine Learning (grad level, Kondor)<br>
 TTIC 31020 - Statistical Machine Learning (grad level, Shakhnarovich)<br>
 TTIC 31190 - Natural Language Processing (grad level, Gimpel)<br>
 TTIC 41000 - Spectral Techniques (grad level, Stratos)<br>
 MATH 20300-20500 - Accelerated Real Analysis I, II, III<br>
 MATH 20250, 25400-25500 - Abstract Linear Algebra; Abstract Algebra I, II<br>
 BIOS 10602-10603 - Multiscale Modeling of Biological Systems I, II (computational biology)
  -->





 <br><br><br><br><br>
